<a href="https://colab.research.google.com/github/mariagichomo/Fraud-detection/blob/main/Fraud_detection_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

client_df = pd.read_csv("drive/MyDrive/Data/train/client_train.csv")

In [3]:
client_df.head()

   disrict          client_id  client_catg  region creation_date  target
0       60     train_Client_0           11     101    31/12/1994     0.0
1       69     train_Client_1           11     107    29/05/2002     0.0
2       62    train_Client_10           11     301    13/03/1986     0.0
3       69   train_Client_100           11     105    11/07/1996     0.0
4       62  train_Client_1000           11     303    14/10/2014     0.0

In [4]:
invoice_df = pd.read_csv("drive/MyDrive/Data/train/invoice_train.csv",low_memory=False)

In [5]:
invoice_df.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667,0,203,8,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667,0,203,6,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667,0,203,8,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667,0,207,8,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667,0,207,9,1,572,0,0,0,15066,15638,12,ELEC

In [6]:
client_df.isnull().values.any()

False

In [7]:
invoice_df.isnull().values.any()

False

In [8]:
client_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135493 entries, 0 to 135492
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   disrict        135493 non-null  int64
 1   client_id      135493 non-null  object
 2   client_catg    135493 non-null  int64
 3   region         135493 non-null  int64
 4   creation_date  135493 non-null  object
 5   target         135493 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 6.2+ MB

In [9]:
invoice_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        int64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      int64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: int64(12), object(4)
memory usage: 546.5+ MB

In [10]:
client_df.duplicated().values.any()

False

In [11]:
invoice_df.duplicated().values.any()

True

In [12]:
invoice_df.shape

(4476749, 16)

In [13]:
invoice_duplicates = invoice_df[invoice_df.duplicated(keep=False)]
print(invoice_duplicates)

                   client_id invoice_date  tarif_type  counter_number  \
951890   train_Client_125864   2011-12-12          11          101545
951893   train_Client_125864   2011-12-12          11          101545
1755789   train_Client_25894   2010-07-13          40         6986740
1755798   train_Client_25894   2010-07-13          40         6986740
2137995    train_Client_3636   2012-01-18          40          312650
2137999    train_Client_3636   2012-01-18          40          312650
2163371   train_Client_37069   2010-10-11          11            5284
2163374   train_Client_37069   2010-10-11          11            5284
2433907   train_Client_44407   2008-02-28          11           66921
2433919   train_Client_44407   2008-02-28          11           66921
2805727   train_Client_54609   2010-04-06          11          200912
2805729   train_Client_54609   2010-04-06          11          200912
3260190   train_Client_66981   2006-07-17          11          132701
3260191   train_Client_66981   2006-07-17          11          132701
3260198   train_Client_66981   2006-07-17          11          132701
3394717    train_Client_7066   2014-10-28          40         4463323
3394719    train_Client_7066   2014-10-28          40         4463323
3462928   train_Client_72519   2013-01-21          11          246464
3462929   train_Client_72519   2013-01-21          11          246464
3628813   train_Client_77029   2012-12-28          11          540417
3628821   train_Client_77029   2012-12-28          11          540417

        counter_statue  counter_code  reading_remarque  counter_coefficient  \
951890               5           413                 6                    1
951893               5           413                 6                    1
1755789              5             5                 6                    1
1755798              5             5                 6                    1
2137995              5             5                 6                    1
2137999              5             5                 6                    1
2163371              5           413                 6                    1
2163374              5           413                 6                    1
2433907              5           203                 6                    1
2433919              5           203                 6                    1
2805727              5           207                 6                    1
2805729              5           207                 6                    1
3260190              5           420                 6                    1
3260191              5           420                 6                    1
3260198              5           420                 6                    1
3394717              5             5                 6                    1
3394719              5             5                 6                    1
3462928              5           203                 6                    1
3462929              5           203                 6                    1
3628813              5           420                 6                    1
3628821              5           420                 6                    1

         consommation_level_1  consommation_level_2  consommation_level_3  \
951890                      0                     0                     0
951893                      0                     0                     0
1755789                     0                     0                     0
1755798                     0                     0                     0
2137995                     0                     0                     0
2137999                     0                     0                     0
2163371                     0                     0                     0
2163374                     0                     0                     0
2433907                     0                     0                     0
2433919                     0                     0                     0
2805727                     0                     0                     0
2805729                     0                     0                     0
3260190                     0                     0                     0
3260191                     0                     0                     0
3260198                     0                     0                     0
3394717                     0                     0                     0
3394719                     0                     0                     0
3462928                     0                     0                     0
3462929                     0                     0                     0
3628813                     0                     0                     0
3628821                     0                     0                     0

         consommation_level_4  old_index  new_index  months_number  \
951890                      0      13680      13680              2
951893                      0      13680      13680              2
1755789                     0          0          0              2
1755798                     0          0          0              2
2137995                     0        623        623              2
2137999                     0        623        623              2
2163371                     0      99429      99429              2
2163374                     0      99429      99429              2
2433907                     0          0          0              2
2433919                     0          0          0              2
2805727                     0          0          0              2
2805729                     0          0          0              2
3260190                     0       5946       5946              2
3260191                     0       5946       5946              2
3260198                     0       5946       5946              2
3394717                     0         80         80              2
3394719                     0         80         80              2
3462928                     0       2954       2954              2
3462929                     0       2954       2954              2
3628813                     0      26429      26429              2
3628821                     0      26429      26429              2

        counter_type
951890          ELEC
951893          ELEC
1755789          GAZ
1755798          GAZ
2137995          GAZ
2137999          GAZ
2163371         ELEC
2163374         ELEC
2433907         ELEC
2433919         ELEC
2805727         ELEC
2805729         ELEC
3260190         ELEC
3260191         ELEC
3260198         ELEC
3394717          GAZ
3394719          GAZ
3462928         ELEC
3462929         ELEC
3628813         ELEC
3628821         ELEC

In [14]:
invoice_df=invoice_df.drop_duplicates()

In [15]:
invoice_df.duplicated().any()

False

In [16]:
client_df.shape

(135493, 6)

In [17]:
invoice_df.shape

(4476738, 16)

In [18]:
#TESTING